[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
django = "*"
"psycopg2-binary" = "*"
slackclient = "*"
celery = "*"
django-prettyjson = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-cors-headers = "*"
djangorestframework-jwt = "*"

[dev-packages]
"autopep8" = "*"
pylint = "*"
ipdb = "*"
