[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.13"

[packages]
django = "*"
"psycopg2-binary" = "*"
celery = "*"
django-prettyjson = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-cors-headers = "*"
docker = "*"
coverage = "*"
sentry-sdk = "*"
slack-sdk = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}

[dev-packages]
"autopep8" = "*"
pylint = "*"
ipdb = "*"
