[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
django = "==2.1.3"
"psycopg2-binary" = "==2.7.6.1"
slackclient = "==1.3.0"
celery = "==4.2.1"
django-prettyjson = "==0.4.1"
djangorestframework = "==3.9.0"
markdown = "==3.0.1"
django-filter = "==2.0.0"
django-cors-headers = "==2.4.0"
djangorestframework-jwt = "==1.11.0"
docker = "==3.5.1"
graphene-django = "*"

[dev-packages]
"autopep8" = "*"
pylint = "*"
ipdb = "*"
coverage = "*"
